* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.logo {
  padding: 1rem;
}

.all-boards {
  padding-top: 1rem;
}

.sidebar {
  background-color: #2B2C37;
  color: #828FA3;
  border-right: 0.063rem solid #3e3f4e;
  width: 15.625rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  gap: 2rem;
}

.boards-list {
  display: block;
}

a {
  display: flex;
  text-decoration: none;
  gap: 1rem;
  font-size: 0.988rem;
  align-items: center;
  padding: 0.5rem 1rem;
}

.boards-list:hover {
  background-color: green;
}
.theme-wrapper{
 
}
.sidebar-btn {
  display: flex;
  border-radius: 0.5rem;
  gap: 1rem;
  justify-content: center;
  background-color: #000012;
  margin: 0rem auto;
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem;
  margin: 0 1rem;
}
.hide-sidebar{
  display: flex;
  padding: 1rem 1rem 0.5rem 1rem;
  color: #828FA3;
  font-weight: 700;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.938rem;
  cursor: pointer;
}
  
.light,
.dark {
  height: 100%;
}

.right-div {
  width: 100%;
}

.header {
  background-color: #2B2C37;
  color: #828FA3;
  padding: 1rem 0;
  border-right: 0.063rem solid #3e3f4e;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.063rem solid #3e3f4e;
}

.header-btn {
  background-color: #635FC7;
  color: white;
  font-weight: 700;
  padding: 1rem 1.6rem;
  cursor: pointer;
  border-radius: 1.5rem;
  font-size: 0.938rem;
  text-transform: capitalize;
  border: none;
}

main {
  background-color: #2b2c37;
  color: white;
  height: 80vh;
}
.hidden-sidebar{
  background-color: #635FC7;
  border-radius: 0 6.25rem 6.25rem 0;
  padding: .7rem 1rem;
  position: fixed;
  bottom: 1.25rem;
  z-index: 1;
  cursor: pointer;
  border: none;
  /* all: unset; */
}